{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
    <tr>
        <td style="width: 250px;">
            {% if request.user.groups.all.0.name == "Police" %}
                {% include "police-sidebar.html" %}
            {% else %}
                {% include "general-sidebar.html" %}
            {% endif %}
        </td>
        <td colspan="" align='center' style="padding-top:20px; ">
            <h1>Your password has been successfully updated!</h1>
        </td>
    </tr>
{% endblock %}