{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
    <tr>
        <td colspan="4">
            <img src="{% static "images/header5.jpg" %}" width="960" height="400" />
        </td>
    </tr>
    <tr>
        <td colspan="4" align='center' style="padding-top:20px; ">
            <h1>Thank You.</h1>
            <p style="line-height: 22px;padding: 20px;">
                You have been successfully logout!
            </p>
        </td>
    </tr>
{% endblock %}