{% load  static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Traffic Rule Violation Ranking System</title>
        <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css"/>
        <link href="{% static "css/nivo-slider.css" %}" rel="stylesheet" type="text/css"/>
        <link href="{% static "css/search-bar.css" %}" rel="stylesheet" type="text/css"/>
        <link href="{% static "css/paging-bar.css" %}" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="{% static "js/jquery-1.js" %}"></script>
        <script type="text/javascript" src="{% static "js/jquery.nivo.slider.js" %} "></script>
        <script type="text/javascript" src="{% static "js/autocomplete.js" %} "></script>
        <script type="text/javascript">
            $(window).load(function() {
                $('#slider').nivoSlider();
            });
        </script>
    </head>
    <body> 
        <div class="background-image"></div>
            <div class="floating-box">
                <table class="body-table" width="960" border="0" cellspacing="0" cellpadding="0" align="center">
                    <!-- Header -->
                    {% include 'header.html' %}

                    {% block content %}
                    <!-- middle content -->
                    {% endblock %}

                    <tr><td colspan="4" style="border-bottom:1px solid #CCCCCC;"></td></tr>
                    <tr>
                        <td colspan="4">
                        <!-- Footer -->
                        {% include 'footer.html' %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>

