{% load  static %}
<tr>
    <td colspan="4" class="header" style="background: #333;">
        <table width="100%">
            <tr>
                <td>
                    <img src="/static/images/govlogo.png" width=150 style="filter: invert(100%)">
                </td>
                <td>
                    <a href="/" style="text-decoration: none;">
                        <h2 style="font-size: 30px; color: #fff; padding-right: 10px " align='right'>TRAFFIC RULE VIOLATION RANKING SYSTEM</h2>
                        <hr align="right">
                        <p align='right' style="font-size: 13px">Road safety is a cheaper & effective insurance.</p>
                    </a>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td colspan="4" style="height: 40px;">
        <div id="navigation">
            {% if user.is_active %}
                <ul>
                    <li><a href="/">Home</a></li>
                    {% if request.user.groups.all.0.name != "Police" %}
                        <li><a href="/contact/">Contact</a></li>
                    {% endif %}
                    <li><a href="/myaccount/">My Account</a></li>
                    <li><a href="/password/">Password</a></li>
                    {% if request.user.groups.all.0.name == "Police" %}
                        <li><a href="/complaint/">Complaint</a></li>
                        <li><a href="/complaint-list/">Complaint List</a></li>
                        <li><a href="/user-list/">User List</a></li>
                    {% else %}
                        <li><a href="/complaint-list/">Complaint List</a></li>
                    {% endif %}
                    <li><a href="/vehicles/">Vehicles</a></li>
                    <li><a href="/logout/">Logout</a></li>
                </ul>
            {% else %}
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/contact/">Contact</a></li>
                    <li><a href="/login/">Login</a></li>
                    <li><a href="/register/">Register</a></li>
                </ul>
            {% endif %}
        </div>
    </td>
</tr>