{% extends "base.html" %}
{% load static %}
{% block content %}
    <tr>
        <td colspan="4">
            <div id="slider" class="nivoSlider" style="margin-left: 0px;margin-top: 0px;">
                <img src="{% static "images/header5.jpg" %}" width="960" height="400" />
                <img src="{% static "images/header0.jpg" %}" width="960" height="400" />
                <img src="{% static "images/header1.jpg" %}" width="960" height="400" />
                <a href="/static/images/safety-rules.jpg">
                    <img src="{% static "images/safety-rules.jpg" %}" width="960" height="400" />
                </a>
            </div>
        </td>
    </tr>
    <tr>
        <td  valign="top" style="padding: 10px;">
            <table cellpadding="5" cellspacing="0" width="100%">
                <tr>
                    <td colspan="2" style="padding-top: 25px;font-size: 24px;padding-bottom: 15px;">
                        <h1>Welcome to Traffic Rule Violation Ranking System</h1>
                    </td>
                </tr>
                <tr>
                    <td style="line-height: 22px;padding: 20px;">
                        In the current scenario, the issues faced by commuters while traveling is to deal with the inefficiency and discrepancy in the traffic system, like the commuter must submit his driving license, RC Book, and/or other vehicle documents for verification. In case the commuter forgets/misplaces the documents, he/she is unnecessarily fined. If a vehicle is booked for any traffic violations which are uploaded to a website. The owner is not updated with this information. If he fails to check this website regularly, he may not be aware of any pending traffic violations on his vehicles. In case a vehicle is stolen, the owner must contact the nearest police station. The process to lodge a complaint and subsequent response is slow and inefficient. <br><br>
The proposed system overcomes these issues in the current scenario by implementing a web server that uses a database to store, update and access the above-mentioned documents with a user-friendly website, tailored to the needs of the appropriate users. Where both general users and police can log in both having separate commands. Also, a feature of ranking is proposed where each driver will have been ranked according to their challan history at the end of every year, high-rank users will get a bonus whereas low-rank users have to pay a fine for crossing the borderline of violations in one year.

                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}
