<div>
  <h3>Payment Method</h3>
  <img src="/static/images/banner-secure-payment2.png" width="300" /><br />
  <input type="radio" id="visa" value="visa" name="method" checked /><label
    for="visa"
    >Visa</label
  >
  <input type="radio" id="mastercard" value="mastercard" name="method" /><label
    for="mastercard"
    >Mastercard</label
  >
  <input
    type="radio"
    id="americanexpress"
    value="americanexpress"
    name="method"
  /><label for="americanexpress">American Express</label>
  <input
    type="radio"
    id="discovernetwork"
    value="discovernetwork"
    name="method"
  /><label for="discovernetwork">Discover Network</label>
</div>