{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
{% get_media_prefix as MEDIA_PREFIX %}

    {% comment %} <tr>
        
    </tr> {% endcomment %}
    <tr>   
        
        <td style="width: 250px;">
            {% if user.groups.all.0.name == "Police" %}
                {% include "police-profilepic-sidebar.html" %}
            {% else %}
                {% include "general-profilepic-sidebar.html" %}
            {% endif %}
        </td>
        <td  valign="top" style="padding: 10px;border-left: solid 1px #ccc;">
            <table cellpadding="5" cellspacing="0" width="100%">
                <tr>
                    <td colspan="2" style="padding-top: 25px; font-size: 24px;">
                        <h1>{{ user.first_name }} {{ user.last_name }} ({{ user }}) </h1>
                    </td>
                </tr>
                <tr>
                    <td style="line-height: 22px;padding: 20px;">
                        {% csrf_token %}
                        {% for field in user_form %}
                            <div class="form-group">
                                {% if field.value == user.email %}
                                    {{ field.label_tag }}
                                    {{ field.value }}
                                {% endif %}
                            </div>
                        {% endfor %}
                        {% for field in profile_form %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {% if field.value == user.profile.licence_img %}
                                    <a href={{ MEDIA_PREFIX }}{{ profile_form.licence_img.value }}>
                                    <img src="{{ MEDIA_PREFIX }}{{ profile_form.licence_img.value }}" width=250></a>
                                {% else %}
                                    {{ field.value }}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </td>
        <td valign="top" style="padding-top: 27px; padding-right: 5px">
            <form action="", method="GET">
                {% if request.user.groups.all.0.name == "Police" %}
                    <a href="/complaint-challan/{{ user.pk }}" class="button button3">Challan</a>
                {% endif %} 
            </form>
        </td>
    </tr>
{% endblock %}
